<div class="row">
    <div class="col-lg-3">
        <ul class="list-group">
            <li class="list-group-item"> Top 5 Product</li>
            <li class="list-group-item"><i class="fa fa-chevron-right"></i> Product 1</li>
            <li class="list-group-item"><i class="fa fa-chevron-right"></i> Product 2</li>
            <li class="list-group-item"><i class="fa fa-chevron-right"></i> Product 3</li>
            <li class="list-group-item"><i class="fa fa-chevron-right"></i> Product 4</li>
            <li class="list-group-item"><i class="fa fa-chevron-right"></i> Product 5</li>
        </ul>
    </div>
    <div class="col-lg-3">
        <ul class="list-group">
            <li class="list-group-item"> Top 5 Nanomart</li>
            <li class="list-group-item"><i class="fa fa-chevron-right"></i> Nanomart 1</li>
            <li class="list-group-item"><i class="fa fa-chevron-right"></i> Nanomart 2</li>
            <li class="list-group-item"><i class="fa fa-chevron-right"></i> Nanomart 3</li>
            <li class="list-group-item"><i class="fa fa-chevron-right"></i> Nanomart 4</li>
            <li class="list-group-item"><i class="fa fa-chevron-right"></i> Nanomart 5</li>
        </ul>
    </div>
    <div class="col-lg-3">
        <ul class="list-group">
            <li class="list-group-item"> Top 5 Owner</li>
            <li class="list-group-item"><i class="fa fa-chevron-right"></i> Owner 1</li>
            <li class="list-group-item"><i class="fa fa-chevron-right"></i> Owner 2</li>
            <li class="list-group-item"><i class="fa fa-chevron-right"></i> Owner 3</li>
            <li class="list-group-item"><i class="fa fa-chevron-right"></i> Owner 4</li>
            <li class="list-group-item"><i class="fa fa-chevron-right"></i> Owner 5</li>
        </ul>
    </div>
    <div class="col-lg-3">
        <ul class="list-group">
            <li class="list-group-item"> Top 5 Customer</li>
            <li class="list-group-item"><i class="fa fa-chevron-right"></i> Customer 1</li>
            <li class="list-group-item"><i class="fa fa-chevron-right"></i> Customer 2</li>
            <li class="list-group-item"><i class="fa fa-chevron-right"></i> Customer 3</li>
            <li class="list-group-item"><i class="fa fa-chevron-right"></i> Customer 4</li>
            <li class="list-group-item"><i class="fa fa-chevron-right"></i> Customer 5</li>
        </ul>
    </div>
</div>